@import 'bootstrap/dist/css/bootstrap.min.css';


/*****************************************/
/* [IE] 인터넷익스플로러에서 background-attachment:fixed 사용시 버벅거림 해결방안 */
/* https://mrb18.tistory.com/entry/Ie%EC%97%90%EC%84%9C-background-attachmentfixed-%EC%82%AC%EC%9A%A9%EC%8B%9C-%EB%B2%84%EB%B2%85%EA%B1%B0%EB%A6%BC */

/*Edge - works to 41.16299.402.0*/
/* @supports (-ms-ime-align:auto) {
	html {
		overflow: hidden;
		height: 100%;
	}

	body {
		overflow: auto;
		height: 100%;
		position: relative;
	}
} */

/*Ie 10/11*/
/* @media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	html {
		overflow: hidden;
		height: 100%;
	}

	body {
		overflow: auto;
		height: 100%;
	}
} */



/*****************************************/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transcription {
  background-color: '#212529';
}


/*****************************************/
/*loading spinner*/
/* https://stackoverflow.com/questions/74991443/how-can-i-make-loader-cover-the-all-page */
.loader-wrapper {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  /* background-color: #504949b7; */
  opacity: 0.65;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 3s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 3s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
  
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}


/* .loader-wrapper:after{
  content: "Loading text";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
} */

#loader-text {
  font-family: sans-serif;
  text-align: center;
 }


/*loading spinner alt*/
/* https://anerim.tistory.com/221 */
.loading-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffffffb7;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*****************************************/
/* card style in transcription list */
.transcription-list-card {
  transition: transform 0.2s, box-shadow 0.2s; 
}

.transcription-list-card:hover {
  /* transform: scale(1.05);  */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(0); }
  25% { transform: translate(-5px); }
  50% { transform: translate(5px); }
  75% { transform: translate(-5px); }
  100% { transform: translate(0); }
}



/*****************************************/
/* background image attachment for transcription list */
/* https://www.youtube.com/watch?v=LSRNmhLS76o */
/* https://cdn.pixabay.com/photo/2017/01/18/08/25/social-media-1989152_1280.jpg */

/* webp if supported, else jpg */
@supports (background-image: url(image.webp)) {
  .bg-attach-transcription-list {
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8) )
    ,url("/public/images/bg-image.webp");  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
  }
}
@supports not (background-image: url(image.webp)) {
  .bg-attach-transcription-list {
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8) )
    ,url("/public/images/bg-image.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
  }
}

/* not in use */
.bg-alt-transcription-list {
  /* background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8) );   */
  height: auto;
  background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8) )
  ,url("/public/images/bg-image.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  background-attachment: relative; 
}

/* not in use */
.bg-attach-transcription {
  height: auto;
  background-image: linear-gradient( rgba(10, 0, 0, 0.7), rgba(0, 0, 0, 0.9) )
                    ,url("/public/images/pexels-joaojesusdesign-925743.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed; 
  padding-bottom: 50px;
               
}

/*****************************************/
/* background-image: linear-gradient for .bg-transcription */

/* https://www.eggradients.com/gradient/ */
/* https://uigradients.com/ */
.bg-transcription {
  height: auto;
  background-color: #000000;
  background-image: linear-gradient(135deg, #1a1a1a 0%, #2c3e50 50%, #7f8c8d 100%);
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);  */
  
  /* background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); */

  /* background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */
}


/*****************************************/
/* background video for nav */
.nav-bg-video-attach {
  position: relative; 
  width: 100%;
  height: 50vh; 
  overflow: hidden; 
}

.nav-bg-video-attach video {
  width: 100%; /* 너비 자동 조정 */
  height: 100%; /* 높이 자동 조정 */
  object-fit: cover;
  /* position: absolute; */
}

.nav-bg-video-attach .content {
  position: absolute; 
  color: white; 
  top: 0;
  width: 100%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.nav-bg-video-attach a {
  position: relative; 
  text-decoration: none; 
  color: #f3ebeb; 
  margin: 100px;
}


.nav-bg-video-attach a::after {
  content: ""; 
  position: absolute; 
  left: 0; 
  bottom: -2px; 
  width: 100%; 
  height: 2px; 
  background-color: #f8b6b6; 
  transform: scaleX(0); 
  transition: transform 0.3s ease; 
}


.nav-bg-video-attach a:hover::after {
  transform: scaleX(1); 
}

.nav-bg-video-attach .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
}


/*****************************************/
/* buttons in accordion body */
.accordion-body .btn-primary {
  --bs-btn-active-color: #4a5869;
  /* --bs-btn-active-bg: #abc5ed; */
}

.button-in-accordion-body {
  background-color: #d9e8ff;
  color: #4a5869;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.button-in-accordion-body:active,
.button-in-accordion-body:focus {
  outline: none; 
  background-color: #abc5ed; 
  color: #4a5869; 
}

/* .button-in-accordion-body:hover {
  background-color: #abc5ed;
  color: #4a5869; 
} */




/* not in use */
/***********************
#myNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem; 
}

#myNav a {
  font-size: 2.3em;
  margin: auto auto;
}

@media (max-width: 768px) { 
  #myNav {
    flex-direction: column; 
    align-items: center; 
  }

  #myNav a {
    margin: 5.5rem 0;
  }
}
*********************/
